.gh-label {
  margin-right: 0.3em;
}

.gh-label-group {
  margin-bottom: 0.8em;
}

.gh-save-button {
  margin-top: 0.5em;
}

.gh-remove {
  color: #0D47A1;
  margin-left: 0.3em;
}

.gh-remove:hover {
  color: #BBDEFB;
}

.gh-form {
  margin-top: 1em;
}

html, body {
  min-width: 350px;
}

.gh-margin {
  margin-top: 2em;
  margin-bottom: 1.5em;
}

.gh-small-button {
  margin: 0.2em;
}

.gh-input {
  width: 100%;
}

.gh-icon-color {
  color: #fff;
}

.gh-circle-color {
  color: #283593;
}