.gh-label {
  margin-right: 0.3em;
}

.gh-label-group {
  margin-bottom: 0.8em;
}

.gh-save-button {
  margin-top: 0.5em;
}

.gh-remove {
  color: #000;
  margin-left: 0.3em;
}

.gh-remove:hover {
  color: #BDBDBD;
}

.gh-form {
  margin-top: 1em;
}

html, body {
  min-width: 350px;
}

.gh-margin {
  margin-top: 2em;
  margin-bottom: 1.5em;
}

.gh-small-button {
  margin: 0.2em;
}

.gh-input {
  width: 100%;
}

.gh-icon-color {
  color: #fff;
}

.gh-circle-color {
  color: #283593;
}

/* TODO use LESS instead of: */
* {
  border-radius: 0 !important;
}

blockquote {
  font-size: 13px;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-right: 0;
}

.gh-quote-icon {
  font-size: 2.2em;
  margin-right: 0.2em;
  color: #e0e0e0;
}

.gh-link {
  font-size: 13px;
  margin-bottom: 0.5em;
}

/* reduce padding */
.dropdown-menu > li > a {
  padding: 2px 10px;
}

.gh-search {
  margin-bottom: 10px;
  margin-top: -24px;
}

.gh-filter {
  margin-bottom: 8px;
}
