.gh-label {
  margin-right: 0.3em;
}

.gh-label-group {
  margin-bottom: 0.8em;
}

.gh-button {
  margin-left: 0.8em;
}

.gh-remove {
  color: #0D47A1;
  margin-left: 0.3em;
}

.gh-remove:hover {
  color: #fff;
}

.gh-form {
  margin-top: 1em;
}
