<!doctype html>
<html ng-app="gohyper">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Getting Started with the Test Version</title>
    <link rel="stylesheet" href="css/gohyper.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="js/gohyper.js"></script>
    <script type="text/javascript" src="js/popup.js"></script>
  </head>
  <body ng-controller="ExtensionController">
    <div class="container">

      <h3>GoHyper</h3>

      <form class="form-inline">
        <div class="form-group">
          <label for="title">Title</label><br>
          <input type="text" id="title" name="title" size="40" placeholder="Title" />
        </div>
        <div class="form-group">
          <label for="url">URL</label><br>
          <input type="text" id="url" name="url" size="40" placeholder="URL" />
        </div>
        <div class="form-group">
          <label for="summary">Summary</label><br>
          <textarea id="summary" name="summary" rows="4" cols="43" placeholder="Summary"></textarea>
        </div>
        <div class="form-group">
          <label for="tags">Tags</label><br>
          <div class="gh-label-group" ng-if="tags.length">
            <span ng-repeat="tag in tags" class="label label-info gh-label">{{tag}}
              <a href="" ng-click="tags.splice($index, 1)">
                <i class="remove glyphicon glyphicon-remove-sign gh-remove"></i>
              </a>
            </span><br>
          </div>
          <input type="text" id="input" name="tags" ng-model="input" size="25" placeholder="Tags" />
          <button class="btn btn-default btn-sm gh-button" ng-click="push(input)">
            <i class="fa fa-plus-circle"></i> Add
          </button>
        </div>
        <div class="form-group">
          <button class="btn btn-default btn-sm">
            <i class="fa fa-check-circle"></i> Save
          </button>
        </div>
      </form>

    </div>
  </body>
</html>