<!doctype html>
<html ng-app="gohyper" ng-csp>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Getting Started with the Test Version</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/gohyper.css">
    <script src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="js/gohyper.js"></script>
    <script type="text/javascript" src="js/popup.js"></script>
  </head>
  <body ng-controller="ExtensionController">
    <div class="container">

      <h3>
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x gh-circle-color"></i>
          <i class="fa fa-link fa-stack-1x gh-icon-color"></i>
        </span>
        GoHyper
      </h3>

      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Quote</a></li>
        <li role="presentation"><a href="notepad.html">Notepad</a></li>
        <li role="presentation"><a href="info.html">Info</a></li>
      </ul>

      <form class="form-inline gh-form" role="form" name="form">
        <div class="form-group">
          <label for="title">Title</label>
          <input readonly type="text" class="form-control gh-input" id="title" name="title" ng-model="title" placeholder="Title">
        </div>

        <div class="form-group">
          <label for="currentUrl">Current URL</label>
          <input readonly type="url" class="form-control gh-input" id="currentUrl" name="currentUrl" ng-model="currentUrl" placeholder="URL">
        </div>

        <div class="form-group">
          <label for="quote">Quote</label>
          <textarea readonly class="form-control gh-input" id="quote" name="quote" rows="4" ng-model="quote" placeholder="Quote"></textarea>
        </div>

        <div class="form-group">
          <label for="tags">Tags</label>
          <div class="gh-label-group" ng-if="tags.length">
            <span ng-repeat="tag in tags">
              <span class="label label-default gh-label">
                {{tag}}
                <a href="" ng-click="tags.splice($index, 1)">
                  <i class="remove glyphicon glyphicon-remove-circle gh-remove"></i>
                </a>
              </span>
            </span>
          </div>
          <div class="input-group">
            <input class="form-control" type="text" id="input" name="tags" ng-model="input" placeholder="Tags">
            <span class="input-group-btn">
              <button class="btn btn-default" ng-click="push(input)">
                <i class="fa fa-plus-circle"></i> Add
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label for="comment">Comment</label>
          <textarea class="form-control gh-input" id="comment" name="comment" rows="2" placeholder="Comment"></textarea>
        </div>

        <!--div class="form-group">
          <label for="url">Link to</label>
          <div class="gh-label-group" ng-if="urls.length">
            <span ng-repeat="url in urls">
              <span class="label label-default gh-label">
                {{url}}
                <a href="" ng-click="urls.splice($index, 1)">
                  <i class="remove glyphicon glyphicon-remove-circle gh-remove"></i>
                </a>
              </span>
            </span>
          </div>
          <div class="input-group">
            <input class="form-control" type="url" name="urls" ng-model="url" placeholder="URL">
            <span class="input-group-btn">
              <button class="btn btn-default" ng-click="">
                <i class="fa fa-plus-circle"></i> Add
              </button>
            </span>
          </div>
        </div-->

        <div class="form-group">
          <div class="text-right">
            <button type="button" class="btn btn-primary gh-save-button">
              <i class="fa fa-check-circle"></i> Save
            </button>
          </div>
        </div>

      </form>

    </div>
  </body>
</html>