<div class="gh-margin" ng-controller="OverviewController">

  <h3>All quotes</h3>

  <div class="row gh-search">
    <div class="col-md-offset-7 col-md-5">

      <div class="input-group gh-input-field-margin">
        <div class="input-group-addon">
          <i class="fa fa-search"></i> Search all data
        </div>
        <input type="text" class="form-control" placeholder="e.g., tag name or quote snippet" ng-model="searchInput">
      </div>

      <div class="input-group gh-input-field-margin">
        <div class="input-group-addon">
          <i class="fa fa-sort"></i>
          Sort by
        </div>

        <select class="form-control" ng-model="sortBy">
          <option value="-updateTimestamp">Time (newest first)</option>
          <option value="updateTimestamp">Time (oldest first)</option>
          <option value="quote">Quote (A-Z)</option>
          <option value="-quote">Quote (Z-A)</option>
        </select>
      </div>

    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Quote</th>
        <th>Links</th>
        <th>Comment</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="quote in quotes | filter:searchInput | orderBy:sortBy">
        <td>
          <p>
            <!-- http://www.aheil.de/2012/10/19/how-to-get-the-favicon-ico-from-any-page/ -->
            <img src="https://www.google.com/s2/favicons?domain={{quote.currentUrl}}">
            <a target="_blank" href="{{quote.currentUrl}}" title="{{quote.currentUrl}}">
              <!-- http://stackoverflow.com/a/25892456/4419582 -->
              {{quote.title | limitTo: 65}}{{quote.title.length > 65 ? '...' : ''}}
            </a>
          </p>

          <p>"{{quote.quote | limitTo: 120}}{{quote.quote.length > 120 ? '...' : ''}}"</p>

          <p>
            <span ng-repeat="tag in quote.tags">
              <span ng-if="tag.length > 60" class="label label-default gh-label" uib-tooltip="{{tag}}">
                <i class="fa fa-tag"></i>
                {{tag | limitTo: 60}}...
              </span>
              <span ng-if="tag.length <= 60" class="label label-default gh-label">
                <i class="fa fa-tag"></i>
                {{tag}}
              </span>
            </span>
          </p>

          <p>
            <small>
              {{quote.updateTimestamp | date: 'short'}}
            </small>
          </p>

        </td>

        <td>
          <div ng-repeat="link in quote.hyperlinks.slice(0, 10)">
            <img src="https://www.google.com/s2/favicons?domain={{link}}">
            <a target="_blank" href="{{link}}" title="{{link}}">
              {{link | limitTo: 50}}{{link.length > 50 ? '...' : ''}}
            </a>
          </div>

          <div ng-if="quote.hyperlinks.length > 10">
            <a ng-show="!showMore" ng-click="showMore = !showMore" href="">Show more</a>

            <div ng-if="showMore" ng-repeat="link in quote.hyperlinks.slice(10, quote.hyperlinks.length)">
              <img src="https://www.google.com/s2/favicons?domain={{link}}">
              <a target="_blank" href="{{link}}" title="{{link}}">
                {{link | limitTo: 50}}{{link.length > 50 ? '...' : ''}}
              </a>
            </div>

            <a ng-show="showMore" ng-click="showMore = !showMore" href="">Show less</a>
          </div>
        </td>

        <td>
          {{quote.comment | limitTo: 240}}{{quote.comment.length > 240 ? '...' : ''}}
        </td>

        <td>
          <a href="#/quote/edit/{{quote.id}}?page=all_quotes">
            <button type="button" class="btn btn-primary btn-xs gh-small-button">
              <i class="fa fa-pencil"></i>
              Edit
            </button>
          </a>
          <button type="button" class="btn btn-danger btn-xs gh-small-button" ng-click="deleteQuote(quote.id)">
            <i class="fa fa-times"></i> Delete
          </button>
        </td>

      </tr>
    </tbody>
  </table>

</div>
