<div class="gh-margin" ng-controller="NotepadController">

  <div class="text-right">
    <a target="_blank" href="#/all_quotes">
      Show quotes for all pages
    </a>
  </div>

  <h4 ng-if="quotes.length > 0">
    Quotes on this page
  </h4>

  <div ng-if="quotes.length == 0">
    <h4>No quote on this page.</h4>
    To add one, select a text passage with your mouse, right-click on it and add the quote to GoHyper.
  </div>

  <table class="table table-striped">
    <tbody>
      <tr ng-repeat="quote in quotes | orderBy: '-updateTimestamp'">
        <td>
          <!-- http://stackoverflow.com/a/25892456/4419582 -->
          <p>"{{quote.quote | limitTo: 60}}{{quote.quote.length > 60 ? '...' : ''}}"</p>

          <p>
            <span ng-repeat="tag in quote.tags">
              <span ng-if="tag.length > 40" class="label label-default gh-label" uib-tooltip="{{tag}}">
                {{tag | limitTo: 40}}...
              </span>

              <span ng-if="tag.length <= 40" class="label label-default gh-label">
                {{tag}}
              </span>
            </span>
          </p>

          <p>
            <div ng-repeat="link in quote.hyperlinks.slice(0, 8)">
              <img src="https://www.google.com/s2/favicons?domain={{link}}">
              <a target="_blank" href="{{link}}" title="{{link}}">
                {{link | limitTo: 35}}{{link.length > 35 ? '...' : ''}}
              </a>
            </div>
            <div ng-if="quote.hyperlinks.length > 8">
              <a ng-show="!showMore" ng-click="showMore = !showMore" href="">Show more</a>

              <div ng-if="showMore" ng-repeat="link in quote.hyperlinks.slice(8, quote.hyperlinks.length)">
                <img src="https://www.google.com/s2/favicons?domain={{link}}">
                <a target="_blank" href="{{link}}" title="{{link}}">
                  {{link | limitTo: 35}}{{link.length > 35 ? '...' : ''}}
                </a>
              </div>

              <a ng-show="showMore" ng-click="showMore = !showMore" href="">Show less</a>
            </div>
          </p>

        </td>
        <td>
          <a href="#/quote/edit/{{quote.id}}?page=notepad">
            <button type="button" class="btn btn-primary btn-xs gh-small-button">
              <i class="fa fa-pencil-square-o"></i> Edit
            </button>
          </a>
          <button type="button" class="btn btn-danger btn-xs gh-small-button" ng-click="deleteQuote(quote.id)">
            <i class="fa fa-times"></i> Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!--div class="text-center" ng-if="quotes.length > 10">
    <uib-pagination boundary-links="true" total-items="pagination.total" ng-model="pagination.page" class="pagination-sm" max-size="pagination.maxSize" boundary-links="true" rotate="false" num-pages="numPages"
    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
  </div-->

</div>
