<div class="gh-margin" ng-controller="NotepadController">

  <h4>Quote and URL</h4>

  <table class="table table-striped">
    <tbody>
      <tr ng-repeat="quote in quotes">
        <td>
          <p><a target="_blank" href="{{quote.currentUrl}}">{{quote.currentUrl}}</a></p>

          <!-- http://stackoverflow.com/a/25892456/4419582 -->
          <p>"{{ quote.quote | limitTo: 40 }}{{quote.quote.length > 40 ? '...' : ''}}"</p>

          <p>
            <span ng-repeat="tag in quote.tags">
              <span class="label label-default gh-label">
                {{tag}}
              </span>
            </span>
          </p>

        </td>
        <td>
          <button type="button" class="btn btn-primary btn-xs gh-small-button">
            <i class="fa fa-pencil-square-o"></i> Edit
          </button>
          <button type="button" class="btn btn-danger btn-xs gh-small-button" ng-click="deleteQuote(quote.id)">
            <i class="fa fa-times"></i> Remove
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
