<form class="gh-form" role="form" name="quoteForm" ng-controller="EditQuoteController">

  <div class="form-group text-muted">
    <blockquote>
      <p>
        <i class="fa fa-quote-left gh-quote-icon"></i>
        {{quote.quote | limitTo: 300}} {{quote.quote.length > 300 ? '...' : ''}}
      </p>
    </blockquote>
  </div>

  <div class="form-group">
    <label for="hyperlink">Hyperlink to</label>
    <div class="gh-link" ng-if="quote.hyperlinks.length">
      <span ng-repeat="link in quote.hyperlinks">
        <a target="_blank" href="{{link}}" title="{{link}}">
          {{link | limitTo: 45}}{{link.length > 45 ? '...' : ''}}
        </a>
        <a href="" ng-click="quote.hyperlinks.splice($index, 1); updateLinks()">
          <i class="remove glyphicon glyphicon-remove-circle gh-remove"></i>
        </a>
        <br>
      </span>
    </div>
    <div class="input-group">
      <input class="form-control" type="text" name="hyperlinks" ng-model="quote.hyperlink" uib-typeahead="link for link in links | filter:$viewValue"
        placeholder="URL" ng-keypress="($event.which === 13) && pushLink(quote.hyperlink)">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="pushLink(quote.hyperlink);">
          <i class="fa fa-plus-circle"></i> Add
        </button>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label for="tags">Tags</label>
    <div class="gh-label-group" ng-if="quote.tags.length">
      <span ng-repeat="tag in quote.tags">
        <span class="label label-default gh-label" uib-tooltip="{{tag}}">
          {{tag | limitTo: 60}}{{tag.length > 60 ? '...' : ''}}
          <a href="" ng-click="quote.tags.splice($index, 1)">
            <i class="remove glyphicon glyphicon-remove-circle gh-remove"></i>
          </a>
        </span>
      </span>
    </div>
    <div class="input-group">
      <input class="form-control" type="text" name="tags" ng-model="quote.tag" placeholder="Tags" ng-keypress="($event.which === 13) && pushTag(quote.tag)">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="pushTag(quote.tag);">
          <i class="fa fa-plus-circle"></i> Add
        </button>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea class="form-control gh-input" name="comment" rows="2" ng-model="quote.comment" placeholder="Comment"></textarea>
  </div>

  <div class="form-group">
    <div class="text-right">
      <button type="button" ng-if="page !== 'all_quotes'" class="btn btn-default gh-save-button" ng-click="clicked = true; toNotepad();">
        <i class="fa fa-list"></i> Overview
      </button>

      <button type="button" ng-if="page === 'all_quotes'" class="btn btn-default gh-save-button" ng-click="clicked = true; backToAllQuotes();">
        <i class="fa fa-list"></i> Show all quotes
      </button>

      <button type="button" class="btn btn-primary gh-save-button" ng-click="clicked = true; updateQuote();" ng-disabled="clicked || quote.tag.length > 0 || quote.hyperlink.length > 0">
        <i class="fa fa-check-circle"></i> Save
      </button>
    </div>
  </div>

</form>