<form class="gh-form" role="form" name="quoteForm" ng-controller="QuoteController">

  <div class="form-group text-muted">
    <blockquote>
      <p>
        <i class="fa fa-quote-left gh-quote-icon"></i>
        {{quote.quote}}
      </p>
    </blockquote>
  </div>

  <div class="form-group">
    <label for="hyperlink">Hyperlink to</label>
    <div class="gh-link" ng-if="form.hyperlinks.length">
      <span ng-repeat="link in form.hyperlinks">
        <a target="_blank" href="{{link}}" title="{{link}}">
          {{link | limitTo: 45}}{{link.length > 45 ? '...' : ''}}
        </a>
        <a href="" ng-click="form.hyperlinks.splice($index, 1); updateLinks()">
          <i class="remove glyphicon glyphicon-remove-circle gh-remove"></i>
        </a>
        <br>
      </span>
    </div>
    <div class="input-group">
      <input class="form-control" type="text" name="hyperlinks" ng-model="form.hyperlink" uib-typeahead="link for link in links | filter:$viewValue"
        placeholder="Search for quote links or paste a link" ng-keypress="($event.which === 13) && pushLink(form.hyperlink)">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="pushLink(form.hyperlink);">
          <i class="fa fa-plus-circle"></i> Add
        </button>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label for="tags">Tags</label>
    <div class="gh-label-group" ng-if="form.tags.length">
      <span ng-repeat="tag in form.tags">
        <span class="label label-default gh-label">
          {{tag}}
          <a href="" ng-click="form.tags.splice($index, 1)">
            <i class="remove glyphicon glyphicon-remove-circle gh-remove"></i>
          </a>
        </span>
      </span>
    </div>
    <div class="input-group">
      <input class="form-control" type="text" name="tags" ng-model="form.tag" placeholder="Tag name" ng-keypress="($event.which === 13) && pushTag(form.tag)">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="pushTag(form.tag);">
          <i class="fa fa-plus-circle"></i> Add
        </button>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea class="form-control gh-input" name="comment" rows="2" ng-model="form.comment" placeholder="Place your comment here"></textarea>
  </div>

  <div class="form-group">
    <div class="text-right">
      <button type="button" class="btn btn-primary gh-save-button" ng-click="clicked = true; addQuote();" ng-disabled="clicked || form.tag.length > 0 || form.hyperlink.length > 0">
        <i class="fa fa-check-circle"></i> Save
      </button>
    </div>
  </div>

</form>