<form class="form-inline gh-form" role="form" name="form" ng-controller="QuoteController">
  <div class="form-group">
    <label for="title">Title</label>
    <input readonly type="text" class="form-control gh-input" name="title" ng-model="title" placeholder="Title">
  </div>

  <div class="form-group">
    <label for="currentUrl">Current URL</label>
    <input readonly type="url" class="form-control gh-input" name="currentUrl" ng-model="currentUrl" placeholder="URL">
  </div>

  <div class="form-group">
    <label for="quote">Quote</label>
    <textarea readonly class="form-control gh-input" name="quote" rows="4" ng-model="quote" placeholder="Quote"></textarea>
  </div>

  <div class="form-group">
    <label for="tags">Tags</label>
    <div class="gh-label-group" ng-if="tags.length">
      <span ng-repeat="tag in tags">
        <span class="label label-default gh-label">
          {{tag}}
          <a href="" ng-click="tags.splice($index, 1)">
            <i class="remove glyphicon glyphicon-remove-circle gh-remove"></i>
          </a>
        </span>
      </span>
    </div>
    <div class="input-group">
      <input class="form-control" type="text" name="tags" ng-model="input" placeholder="Tags">
      <span class="input-group-btn">
        <button class="btn btn-default" ng-click="push(input)">
          <i class="fa fa-plus-circle"></i> Add
        </button>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea class="form-control gh-input" name="comment" rows="2" ng-model="comment" placeholder="Comment"></textarea>
  </div>

  <!--div class="form-group">
    <label for="url">Link to</label>
    <div class="gh-label-group" ng-if="urls.length">
      <span ng-repeat="url in urls">
        <span class="label label-default gh-label">
          {{url}}
          <a href="" ng-click="urls.splice($index, 1)">
            <i class="remove glyphicon glyphicon-remove-circle gh-remove"></i>
          </a>
        </span>
      </span>
    </div>
    <div class="input-group">
      <input class="form-control" type="url" name="urls" ng-model="url" placeholder="URL">
      <span class="input-group-btn">
        <button class="btn btn-default" ng-click="">
          <i class="fa fa-plus-circle"></i> Add
        </button>
      </span>
    </div>
  </div-->

  <div class="form-group">
    <div class="text-right">
      <button type="button" class="btn btn-primary gh-save-button" ng-click="addQuote()">
        <i class="fa fa-check-circle"></i> Save
      </button>
    </div>
  </div>

</form>